/* @font-face {
  font-family: Andruha-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Andruha-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: 'open sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/* ----------------HEADER---------------- */

.header {
  background-color: gray;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
}

/* ----------------HERO---------------- */

.hero {
  background-color: #3d3e45;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ----------------ABOUT---------------- */

.about-pre-title {
  color: #303030;
}

.about-title {
  color: var(--second-title-color);
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: var(--second-btn-color);
}

/* ----------------PRICES---------------- */

.prices {
  background-color: #303030;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}
.prices-item {
}
.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: var(--main-btn-color);
}

/* ----------------BENEFITS---------------- */

.benefits {
}
.benefits-list {
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-pre-title {
  color: #303030;
}
.benefits-title {
  color: #303030;
}

.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ----------------BARBERS---------------- */

.barbers {
}
.barbers-pre-title {
  color: #303030;
}

.barbers-title {
  color: var(--second-title-color);
}

.barbers-list {
}

.barbers-item {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ----------------GALLERY---------------- */

.gallery-pre-title {
  color: #303030;
}

/* ----------------ONLINE---------------- */

.online {
  background-color: #303030;
}

.online-title {
  color: var(--main-title-color);
}

/* ----------------CONTACtS---------------- */

.contacts {
  background-color: #303030;
}

.contacts-title {
  color: var(--main-title-color);
}

.contacts-address {
  font-style: normal;
}
.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.link {
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
