/* @font-face {
  font-family: Andruha-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Andruha-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'open sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

/* ----------------HEADER---------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}

.logo-icon {
  fill: #303030;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-connect {
  margin-left: auto;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 43px;
}

/* ----------------HERO---------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-wrap {
  background-color: #3d3e45;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.hero-title:hover::before {
  color: aqua;
  background-image: url(../img/barbers-img-2.jpeg);
}

.hero-title::before {
  content: '\1F602';
  font-size: 32px;
  background-image: url(../img/abot-img-2.jpeg);
  background-size: cover;
  background-position: top;
  width: 40px;
  height: 40px;
}

.hero-title::after {
  content: '!';
  color: tomato;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/* ----------------ABOUT---------------- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-wrap {
  max-width: 470px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--second-btn-color);
}

/* ----------------PRICES---------------- */

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
.prices-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}

.prices-item::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item + .prices-item {
  margin-top: 20px;
}
.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.prices-list-text:last-child {
  order: 1;
}

/* ----------------BENEFITS---------------- */

.benefits-container {
  display: flex;
  padding-left: 100px;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin-right: 130px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  margin-bottom: 6px;
}

.benefits-item span::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-color);
  vertical-align: top;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: #303030;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.benefits-title::before {
  content: '?';
  transform: rotate(-180deg);
}

.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ----------------BARBERS---------------- */

.barbers {
}
.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-wrap {
  padding-top: 30px;
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  background: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: teal;
  fill: violet;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: violet;
} */

.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}
.test-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(83, 79, 78);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-soc-icon {
  fill: rgb(83, 79, 78);
}

.test-link:hover {
  border-color: tomato;
}

.test-link:hover .test-soc-icon {
  fill: tomato;
}
/* ----------------GALLERY---------------- */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  column-gap: 30px;
  row-gap: 50px;
}

.gallery-item {
  width: calc((100% - 60px) / 3);
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.contact-wrap > .container {
  display: flex;
  justify-content: space-between;
}

/* ----------------ONLINE---------------- */

.online {
  width: calc(100% / 2 - 15px);
}

.online-title {
  color: var(--main-title-color);
}

/* ----------------CONTACtS---------------- */

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}
.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
  display: inline-block;
  margin-bottom: 20px;
}
.contacts-list {
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.link {
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: #9da4bd;
}
