.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 200ms linear, color 200ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-btn-color);
  }
}

.btn--color-light {
  color: var(--main-btn-color);
}

.btn--color-dark {
  color: var(--second-btn-color);
}
