.about__container {
  display: flex;
  gap: 30px;
}

.pic-list {
  display: flex;
  gap: 30px;
}

.about__wrap {
  max-width: 470px;
}

.about__pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about__after-title {
  @include font(18px, 1.67, null, 0.02em);
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
