.barbers {
}
.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.barbers-item {
  // width: calc((100% - 90px) / 4);
  width: 100%;
  @media screen and (min-width: 768px) {
    @include calc(2, 30px);
  }
  @media screen and (min-width: 1200px) {
    @include calc(3, 30px);
  }
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  padding: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  background-color: #ff6a0088;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
  .barbers-item:hover & {
    transform: translateY(0);
  }
}

.barbers-wrap {
  padding-top: 30px;
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  background: tomato;
  border-radius: 50%;
  @extend %list;
  justify-content: center;
  fill: #ffffff;
  transition: background-color 200ms linear, fill 200ms linear;
  &:hover,
  &:focus {
    background-color: teal;
    fill: violet;
  }
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: violet;
} */
