.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  @extend %list;
}

.navigation {
  @extend %list;
}
.navigation__logo {
  margin-right: 131px;
}

.logo__icon {
  fill: #303030;
}

.menu {
  display: flex;
  gap: 30px;
}

.header__connect {
  margin-left: auto;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color 200ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

.connect__btn {
  margin-left: 43px;
}
