.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
  &:first-child {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  &:last-child {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.prices-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
  &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
  }
  & + & {
    margin-top: 20px;
  }
}

.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  &:last-child {
    order: 1;
  }
}
.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}
