.test-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.test-item {
  // width: calc((100% - 150px) / 6);
  height: 90px;
  @include calc(2, 30px);
  @media screen and (min-width: 768px) {
    @include calc(3, 30px);
  }
  @media screen and (min-width: 1200px) {
    @include calc(6, 30px);
  }
}
.test-link {
  width: 100%;
  height: 100%;
  border: 4px solid rgb(83, 79, 78);
  border-radius: 5px;
  @extend %list;
  justify-content: center;
  transition: border-color 200ms linear;
  &:hover {
    border-color: tomato;
  }
}

.test-soc-icon {
  fill: rgb(83, 79, 78);
  transition: fill 200ms linear;
  .test-link:hover & {
    fill: tomato;
  }
}
